<script src="/js/adminLiveUpdatePlayerList.js"></script>
<script src="/js/timerAdminGameList.js"></script>

<h1 class="text-center">Current Running Giveaways</h1>

<div class="container">

  <div class="row">

    <div class="col-md-12">
      <% giveaways.forEach(function(giveaway) { %>
        <% if(!giveaway.hidden) { %>
          <div class="well text-center">
            <h3><strong><%=giveaway.name%></strong></h3>
            <h4 data="ids" giveawayId="<%=giveaway.id%>"><%=moment(giveaway.createdAt).format()%></h4>
            <a href="/player/playerList/<%=giveaway.id%>"><h4>Select This Giveaway</h4></a>
            <a target="_blank" href="/player/playerList/<%=giveaway.id%>"><h4>Create Overlay for this Giveaway</h4></a>
            <span class="numberOfPlayer" giveawayId="<%=giveaway.id%>">
            </span>
            <h3 class="text-center">Player Group</h3>
            <ul class="playerList" playerListId="<%=giveaway.id%>">
            </ul>
            <h3 class="text-center">Winner Group</h3>
            <ul class="playerList" winnerListId="<%=giveaway.id%>">
            </ul>
            <h6 id="timer<%=giveaway.id%>" class="text-center"></h6>
            <h6 id="timerDisplay<%=giveaway.id%>" class="text-center" data="display"></h6>  
          </div>
        <% } %>
      <% }); %>
    </div>

  </div>

</div>