<script src="/js/selectPlayerWinner.js"></script>
<script src="/js/hideGiveaway.js"></script>
<script src="/js/endGiveaway.js"></script>
<script src="/js/adminLiveUpdatePlayerList.js"></script>
<script src="/js/timerAdminGameList.js"></script>


<h1 class="text-center"><%= giveaway.name %></h1>
<h4 data="ids" class="text-center" giveawayId="<%=giveaway.id%>"><%=moment.utc(giveaway.createdAt).local().format('LLL')%></h4>

<div class="container">
  <div class="col-md-12 text-center"> 
    <% if(giveaway.ended) { %>
      <button class="btn btn-info">Giveaway ended.</button>
    <% } %>
    <% if(!giveaway.ended) { %>
      <button id="endGiveaway" class="btn btn-info">End the Giveaway</button>
    <% } %>
    <button id="selectWinner" class="btn btn-success">Randomly Select a Player</button>
    <button id="addWinnerToDb" class="btn btn-success">Save Winner</button>
    <label id="gameToggleButton" class="btn btn-primary">
      <input id="saveGameToggle" type="checkbox" autocomplete="off">Save Game With This Winner
    </label>
    <% if(giveaway.ended) { %>
      <h3>This giveaway has ended.</h3>
    <% } %>
    <button id="hideThis" class="btn btn-danger">Hide this Giveaway</button>

    <div class="well text-center">
      <button id="redrawWheel" class="btn btn-info">Refresh The Player Wheel</button>
      <button id="redrawGameWheel" class="btn btn-info">Refresh The Game Wheel</button>
      <button id="clearGame" class="btn btn-danger">Remove Game</button>
      <div>
        <select id="dropDown" class="selectpicker" data-size="5">
          <optgroup id="gameDropDown" label="Prize">
          
          </optgroup>
        </select>
      </div>
      <div class="nameSpace">
        <h1 id="winner"></h1>
        <h1 id="winnerId" class="hide"></h1>
      </div>
      <div class="nameSpace">
        <h1 id="game"></h1>
      </div>
      <h1 call="text-center">Players</h1>
      <div id="wheel">
        <canvas id="playerWheel" width="600" height="400"></canvas>
      </div>
      <h1 call="text-center">Games</h1>
      <div>
        <canvas id="gameWheel" width="800" height="400"></canvas>
      </div>

      <div id="counter"></div>
     
      <div class="well text-center">
        <h6 id="timer<%=giveaway.id%>"></h6>
        <h6 id="timerDisplay<%=giveaway.id%>" data="display"></h6> 
      </div>
    </div>
    
    <h3 class="text-center">Player Group</h3>
    <ul class="playerList" playerListId="<%=giveaway.id%>">
    </ul>
    <h3 class="text-center">Winner Group</h3>
    <ul class="playerList" winnerListId="<%=giveaway.id%>">
    </ul>
    <span class="numberOfPlayer" giveawayId="<%=giveaway.id%>">
    </span>

  </div>
  
</div>