<script src="/js/winSelector.js"></script>
<script src="/js/hideGiveaway.js"></script>
<script src="/js/endGiveaway.js"></script>
<script src="/js/adminLiveUpdatePlayerList.js"></script>
<script src="/js/timerAdminGameList.js"></script>
<script src="/js/wheel.js"></script>

<h1 class="text-center"><%= giveaway.name %></h1>
<h4 data="ids" class="text-center" giveawayId="<%=giveaway.id%>"><%=giveaway.createdAt%></h4>

<div class="container">
  <div class="col-md-6 col-md-offset-3"> 
    <div class="well text-center">
      <% if(giveaway.ended) { %>
        <button class="btn btn-info">Giveaway ended.</button>
      <% } %>
      <% if(!giveaway.ended) { %>
        <button id="endGiveaway" class="btn btn-info">End the Giveaway</button>
      <% } %>
      <button id="selectWinner" class="btn btn-success">Pick A Winner</button>
      <button id="addWinnerToDb" class="btn btn-success">Save Winner</button>
      <% if(giveaway.ended) { %>
        <h3>This giveaway has ended.</h3>
      <% } %>
      <button id="hideThis" class="btn btn-danger">Hide this Giveaway</button>
      <h3 class="text-center">Player Group</h3>
      <ul class="playerList" playerListId="<%=giveaway.id%>">
      </ul>
      <h3 class="text-center">Winner Group</h3>
      <ul class="playerList" winnerListId="<%=giveaway.id%>">
      </ul>
      <span class="numberOfPlayer" giveawayId="<%=giveaway.id%>">
      </span>
    </div>
    <div class="well text-center">
      <h1 id="winner">
      </h1>
      <h6 id="timer<%=giveaway.id%>"></h6>
      <h6 id="timerDisplay<%=giveaway.id%>" data="display"></h6> 
    </div>
    <div class="well text-center">

      <div id="wheel">
          <canvas id="canvas" width="800" height="500"></canvas>
      </div>

      <div class="toggle-container">

      <div id="venues">
        <h2 class="venue-title">Players</h2>
        <div id="name"></div>
        <h2 class="venue-title">Auth</h2>
        <div id="types"></div>
      </div>
        <div id="filterToggle" class="button">Filter Options</div>
      </div>

      <div id="counter"></div>
    </div>  
  </div>
</div>