<script src="/js/autocomplete.js"></script>
<script src="/js/bootbox.js"></script>
<script src="/js/tradingCards.js"></script>
<script src='/js/spectrum.js'></script>
<link rel='stylesheet' href='/styles/spectrum.css' />


<div class="col-md-12 text-center">
  <h1><span id="sentFromId"><%= user.id %></span> <span id="sentFromName"><%= user.username %></span></h1>
</div>
<div class="row">
  <div class="col-sm-64 text-center">
    Choose your wheel color! <input type='text' id="custom" />
    <div id="colorSample">
    </div>
  </div>
  <div id="thumbNail" class="col-sm-4 text-center">
  Thumbnail preview will go here
  </div>
  <div class="col-sm-4 text-center">
    <form enctype="multipart/form-data" action="/avichange/'"<%= user.id %>'" method="POST">
      <label for="myFile">Thumbnail</label>
      <input type="file" name="myFile">
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>

<h1 class="text-center">Tradable Games</h1>
<div id="tradingArea" class="container">
</div>
<h1 class="text-center">Trading Window</h1>
<h2 class="text-center" id="messageBox"></h2>
<div id="tradeRow" class="row">
  <div id="tradeWindowOut" class="col-sm-6">
  </div>
  <div id="tradeWindowIn" class="col-sm-6">
  </div>
</div>
<div id="tradeWindowOutInfo" class="col-sm-6 text-center">
  <div id="buttons" class='text-center'>
    <button id="clearOutTrade" class="btn btn-danger">Clear Trade</button>
    <button id="acceptTrade" class="btn btn-info">Accept Trade Request</button>
    <div id="acceptedByTrader">
    </div>
  </div>
  <div id="playerDropDownContainter" class="text-center">
    <input type="text" id="playerDropDown"/>
  </div>
  <div class='text-center'>
    <div id="suggestion">
    </div>
  </div>
</div>
<div id="tradeWindowInfo" class="col-sm-6 text-center">
  <div class='text-center'>
    <h2>Receiving from: <span id="playerIn"></span></h2>
  </div>
</div>
<h1 id="tradeInProgress" class="text-center"></h1>
<h1 class="text-center">Owned Games</h1>
<div id="ownedGames" class="container">
</div>
<div class="row">
  <div class="col-sm-6 text-center">
    <h3>Current Traders</h3>
    <div id="currentPlayers" class="text-center"> 
    </div>
  </div>    
  <div class="col-sm-6 text-center">
    <h3>Giveaways Won</h3>
    <% contests.forEach(function(contest) { %>
      <h5 class="text-center"><strong><%=contest.name%></strong></h5>
      <h5 class="text-center"><strong>Ended <%=moment(contest.updatedAt).tz("America/Los_Angeles").format('LLL')%> PST</strong></h5>  
    <% }); %> 
  </div>
</div>
